# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Maven
target/

# Eclipse
.settings/
.classpath/
.classpath
.project

# ignore all model files
models/


